<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <title>Day night switcher</title>
    <link rel="stylesheet" href="css/<%=myStyle%>.css">
</head>

<body>
    <h1>Hello I am dynamic web!</h1>
</body>

</html>